.eqg-banner{
    color: black;
	text-align: right;
	padding-left: 800px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
}
.eqg-image{
	width: 50px;
	height: 70px;
	margin-right: 30px;
}